<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Email</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<header class="border-bottom p-3 mb-3 bg-light">
    Email Sender
</header>
<main>
    <form class="ml-3 mr-3" method="post" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="message">Enter message</label>
            <textarea name="message" class="form-control" id="message" rows="3" placeholder="Some text..."></textarea>
        </div>
        <div class="form-group">
            <label for="time">Send in time</label>
            <input name="time" type="number" class="form-control" id="time" placeholder="0">
        </div>
        <input type="submit" class="btn btn-primary" />
    </form>
</main>
<footer></footer>
</body>
</html>